*{
    margin: 0;
    padding: 0;
}

/*navigation part*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
    margin: auto;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin-right: 120px;



}
nav .menu a{
    font-size: medium;
    color: #000;
    text-decoration: none;
    margin-right: 16px;
}
.btn {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 120px;
    border-radius: 5px;

}


.img-1{
    margin-left:120px ;
    align-self: center;
    
}
.banner{
    width: 2042px;
    max-height: 1363px;
    
}