*{
    margin: 0;
    padding: 0;
}



.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
    margin: auto;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin-right: 120px;



}
nav .menu a{
    font-size: medium;
    color: #000;
    text-decoration: none;
    margin-right: 16px;
}
.btn {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 120px;
    border-radius: 5px;

}


.img-1{
    margin-left:120px ;
    align-self: center;
    
}
#banner{
    
    border: 1px;
    background: url(./assets/hero-bg.png),rgba(0, 25, 49, 0.8);
    object-fit: fill;
    width: 1300px;
    height: 700px ;
    
    background-repeat: no-repeat;

}

#banner .banner-content h1 {
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    line-height: 80px;
    height: 500px;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16 px;
    align-items: center;
    justify-content: center;

}
.color-orrange{
    color: #30B868;
    
}
#banner .banner-content h5 {
    color: rgb(225, 211, 211);

    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    align-items: center;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-left:50px ;
    

}
#banner .banner-content h4{
    margin-left: 495px;
    padding: 20px;
}
.top-btn{
    order: -1 ;
    align-items: center;
    margin-left: 500px;
    border-radius: 30px;


}
#notes{
    border: 1px;
}
#notes .section-heading{
    text-align: center;
    padding-top: 40px;
    margin: 0 auto;
}
#notes .notes-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 20px;
}
#notes .notes-container .boxes{
    display: flex;
    padding-top: 25px;
    gap: 40px;

    
    
}
#notes .notes-container .card-1{
    padding: 30px;
    border: 1px whitesmoke;
    background-color: aliceblue;
    max-width: 320px;
    max-height: 340px;
    border-radius: 10px;
    box-shadow: rgb(238, 235, 235);
}
 .card-1 img {
    align-items: center;
    display: block;
    margin: 0% auto;
    border-radius: 100%;
    width: 30px;

}
#notes .notes-container h3 {
    text-align: center ;
    padding-top: 7px;
    

}
#notes .notes-container p{
    padding-top: 15px;
}

#brain{
    border: 14px solid yellow;
    width: 1260px;
    height: 822px;
    
}
#brain .img-3{
    padding: 120px;
    width: 600px;
    height: 600px;

}
#brain .para{
    font-size: 16px;
    font-style: medium;
    color: #30B868;
    margin-left: 735px;
    transform: translateY(-660px);
    
    

}
#brain .para2{
    font-size: 35px;
    font-weight: bold;
    transform: translateY(-660px);
    margin-left: 735px;
    padding-top: 5px;
     


}
#brain .para3{
    font-size: 10px;
    transform: translateY(-660px);
    padding: 15px;
    margin-left: 735px ;


}
#brain .para4 {
    margin-left: 735px;
    display: flex;
    transform: translateY(-660px);
    margin-left: 735px;
    


     
}
#brain .para4 li{
    list-style-type: none;
    display: flex;
    padding: 8px;

}



    




