*{
    margin: 0;
    padding: 0;
}

/*navigation part*/

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFFFFF;
    margin: auto;
    
}
nav{
    
    display: flex;
    justify-content: space-between;
    
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    margin-right: 120px;



}
nav .menu a{
    font-size: medium;
    color: #000;
    text-decoration: none;
    margin-right: 16px;
}
.btn {
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 120px;
    border-radius: 5px;

}


.img-1{
    margin-left:120px ;
    align-self: center;
    
}
#banner{
    
    border: 5px solid red;
    background: url(./assets/hero-bg.png),rgba(0, 25, 49, 0.8);
    object-fit: fill;
    width: 1300px;
    height: 700px ;
    
    background-repeat: no-repeat;

}

#banner .banner-content h1 {
    font-family: Inter;
    font-style: Bold;
    font-size: 72px;
    line-height: 80px;
    height: 500px;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16 px;
    align-items: center;
    justify-content: center;

}
.color-orrange{
    color: #30B868;
    
}
#banner .banner-content h5 {
    color: rgb(225, 211, 211);

    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
    align-items: center;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    margin-left:50px ;
    

}
#banner .banner-content h4{
    margin-left: 495px;
    padding: 20px;
}
.top-btn{
    order: -1 ;
    align-items: center;
    margin-left: 500px;
    border-radius: 30px;
    

}